<div class="flex flex-col gap-8 items-center justify-center min-h-screen px-4 py-12">
    <h1 class="font-bold text-4xl">Welcome to CMS</h1>
    <% if user_signed_in? %>
    <%= render "shared/pending_invitations" %>
    <% end %>
    <h2>This is home page for the CMS</h2>
    <%= image_tag "home_picture.jpg", alt: "CMS background", class: "w-full h-auto rounded-md" %>
    <% if !user_signed_in? %>
        <p class="border border-blue-500 rounded px-4 py-2 mb-24"><%= link_to "Sign up now!", new_user_registration_path %></p>
    <% end %>

    
</div>
