<div>
  <h1 class="font-bold text-4xl">Facilities#index</h1>
  <ul>
    <% @facilities.each do |facility| %>
      <li><%= link_to facility.name, facility_path(facility) %></li>
    <% end %>
  </ul>
  <%= link_to 'New Facility', new_facility_path, class: 'mt-4 inline-block bg-blue-500 text-white px-4 py-2 rounded' %>
</div>
