    <% if notice %>
      <p class="alert mt-24 flex flex-row justify-center items-center text-lg sm:text-xl text-blue-600 bg-blue-50 border-blue-400 rounded-lg p-2 sm:p-4">
        <%= notice %>
      </p>
    <% end %>